.friendPreview {
	margin: 0.5rem 0;
	padding: var(--inner-sidebar-padding);
	border-radius: var(--rounded);
	transition: transform var(--ease-animation), box-shadow var(--ease-animation), border var(--ease-animation);
}

.friendPreview:hover {
	transform: var(--scale-transform);
	background-color: var(--primary-highlight-bg-color);
}

.friendPreview.rich {
	margin: 1rem 0;
	background-color: var(--secondary-bg-color);
	box-shadow: var(--shadow-md);
	border: 1px solid var(--secondary-bg-accent-color);
}

.friendPreview.rich:hover {
	background-color: var(--primary-highlight-bg-color);
	box-shadow: var(--shadow-lg);
	border: 1px solid var(--primary-highlight-bg-accent-color);
}

.friendPreview .image {
	width: 3rem;
	height: 3rem;
	border-radius: var(--rounded-full);
	margin-right: 0.5rem;
	background-color: var(--profile-icon-bg);
}

.friendPreview .image svg {
	padding: 0.5rem;
	color: var(--profile-icon-color);
}

.friendPreview h1 {
	margin: 0;
	font-size: 1rem;
	margin-bottom: 3px;
}

.friendPreview p {
	margin: 0;
	font-size: 0.95rem;
	color: var(--secondary-dark-text-color);
}

.friendPreview .link {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.friendPreview svg.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	color: inherit;
	margin-left: auto;
}

.friendPreview:hover .link {
	color: var(--primary-highlight-color);
}
