.sidebar .text {
	font-weight: 500;
}

.sidebar .emptyIcon {
	margin: 0.5rem 0;
	width: 100%;
	height: 12rem;
}

.profileLink {
	display: flex;
	/* align-items: center; */
	align-content: stretch;
	margin-bottom: 1.5rem;
}

.profileLink>a {
	flex-grow: 1;
	transition: transform var(--ease-animation);
}

.profileLink .active,
.profileLink>a:hover {
	color: var(--primary-highlight-color);
}

.profileLink>a:hover {
	transform: var(--scale-transform);
}

.profileLink .active .image,
.profileLink>a:hover .image {
	background-color: var(--profile-icon-active-bg);
}

.profileLink .active .image svg,
.profileLink>a:hover .image svg {
	color: var(--profile-icon-active);
}

.profileLink .image {
	width: 3rem;
	height: 3rem;
	border-radius: var(--rounded-full);
	margin-right: 0.5rem;
	background-color: var(--profile-icon-bg);
}

.profileLink .image svg {
	padding: 0.5rem;
	color: var(--profile-icon-color);
}

.profileLink h1 {
	margin: 0;
	font-size: 1rem;
	margin-bottom: 3px;
}

.profileLink p {
	margin: 0;
	font-size: 0.9rem;
	color: var(--secondary-dark-text-color);
}

.profileLink .iconLink {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0.25rem 0.75rem;
	margin: -0.25rem -0.75rem;
	margin-left: auto;
	cursor: pointer;
}

.profileLink .iconLink:hover {
	color: var(--primary-highlight-color);
}

.profileLink svg.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	color: inherit;
	transition: transform var(--ease-animation);
}

.profileLink .iconLink:hover svg.icon {
	transform: scale(1.15);
}

.profileLink .tooltip {
	user-select: none;
	position: absolute;
	bottom: -1.5rem;
	left: -50%;
	margin: 0.25rem;
	padding: 0.5rem;
	border-radius: var(--rounded-sm);
	color: var(--primary-highlight-color);
	background-color: var(--primary-highlight-bg-color);
	opacity: 0;
	transition: opacity var(--ease-animation);
}

/* .profileLink .iconLink:hover +  */
.profileLink .iconLink:hover .tooltip {
	opacity: 1;
}

.profileLink button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}