.accountForm {
	max-width: 100vw;
	overflow: hidden;
}

.accountForm h3 {
  position: relative;
  left: 25%;
  font-family: "Helvetica";
}

.accountForm .text {
  position: relative;
  width: 50%;
  top: 15%;
  left: 25%;
  background-color: white;
  border: 1px #8b5cf6 solid;
  font-size: 16pt;
  font-family: "Helvetica";
}

.accountForm .text:hover {
  border: 3px #8b5cf6 solid;
}

.accountForm .courseText {
  position: relative;
  width: 25%;
  top: 15%;
  left: 25%;
  background-color: white;
  border: 1px #8b5cf6 solid;
  font-size: 16pt;
  font-family: "Helvetica";
}

.accountForm .courseText:hover {
  border: 3px #8b5cf6 solid;
}

.accountForm .bioText {
  position: relative;
  width: 50%;
  height: 85%;
  left: 25%;
  background-color: white;
  border: 1px #8b5cf6 solid;
  font-size: 16pt;
  font-family: "Helvetica";
}

.accountForm .bioText:hover {
  border: 3px #8b5cf6 solid;
}

.accountForm .Container {
  position: static;
  width: 100%;
}

.accountForm .coursesContainer {
  padding-bottom: 20px;
}

.accountForm .courseContainer {
  padding-top: 10px;
  padding-bottom: 20px;
}

.accountForm .addButton {
  position: relative;
  width: 24%;
  top: 25%;
  left: 25%;
  background-color: #8b5cf6;
  color: white;
  font-size: 14pt;
  font-family: "Helvetica";
}

.accountForm .addButton:hover {
  border: 3px #8b5cf6 solid;
}

.accountForm .removeButton {
  position: absolute;
  width: 15%;
  left: 53%;
  background-color: #8b5cf6;
  color: white;
  font-size: 14pt;
  font-family: "Helvetica";
}

.accountForm .removeButton:hover {
  border: 3px #8b5cf6 solid;
}

.accountForm .submitContainer {
  position: static;
  width: 100%;
}

.submitButton {
  position: relative;
  width: 49%;
  top: 25%;
  left: 25%;
  background-color: #8b5cf6;
  color: white;
  font-size: 16pt;
  font-family: "Helvetica";
}

.accountForm input,
.accountForm button {
	border-radius: var(--rounded);
}

.accountForm .Container.last {
	margin-bottom: 1rem;
}

.accountForm .buttonContainer {
	margin: 1rem 0;
}
