div.layout {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

div.layout a {
	display: flex;
	align-items: center;
	color: inherit;
	text-decoration: inherit;
}

div.navigation {
	z-index: 1;
	position: fixed;
	height: 100vh;
	width: 275px;
	flex-shrink: 0;
	padding: var(--outer-sidebar-padding);
	background-color: var(--white-bg-color);
	box-shadow: var(--shadow-md);
	font-weight: 500;
}

nav a {
	margin: 0.5rem 0;
	padding: 0.65rem var(--inner-sidebar-padding);
	border-radius: var(--rounded-sm);
}

nav ul li:first-child a {
	margin-top: 0;
}

nav a.active {
	color: var(--primary-highlight-color);
	border-left: 4px solid var(--primary-highlight-color);
}

nav a:hover {
	background-color: var(--primary-highlight-bg-color);
}

nav a svg {
	width: var(--icon-size);
	height: var(--icon-size);
	margin-right: 4px;
}

div.groupContainer {
	padding-top: 1rem;
}

div.groupContainer .subtleHeading {
	margin: var(--inner-sidebar-padding);
}

div.groupContainer a {
	margin: 1rem var(--inner-sidebar-padding);
	padding: 0.65rem 0.75rem;
	border-radius: var(--rounded);
	box-shadow: var(--shadow-md);
	border: 1px solid var(--secondary-bg-accent-color);
	transition: transform var(--ease-animation), box-shadow var(--ease-animation), border var(--ease-animation);
}

div.groupContainer>:nth-child(2) {
	margin-top: 0;
}

div.groupContainer a:hover {
	transform: var(--scale-transform);
	box-shadow: var(--shadow-lg);
	background-color: var(--primary-highlight-bg-color);
	border: 1px solid var(--primary-highlight-bg-accent-color);
}

div.groupContainer img {
	width: 3rem;
	height: 3rem;
	border-radius: var(--rounded-full);
	object-fit: cover;
	margin-right: 0.5rem;
}

div.mainContent {
	flex-basis: 50%;
	max-width: 767px;
	margin: 2rem;
	margin-top: var(--outer-sidebar-padding);
}

div.complementary {
	z-index: 1;
	position: fixed;
	right: 0;
	width: 275px;
	flex-shrink: 0;
	padding: var(--outer-sidebar-padding);
}

/* @media (min-width: 2560px) {
} */
