div.friendPreview {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

div.friendPreview.rich {
	padding: var(--inner-sidebar-padding);
	border-radius: var(--rounded);
	background-color: var(--secondary-bg-color);
	box-shadow: var(--shadow-lg);
	border: 1px solid rgba(209, 213, 219, 0.8);
}

div.friendPreview .image {
	width: 3rem;
	height: 3rem;
	border-radius: var(--rounded-full);
	margin-right: 0.5rem;
	background-color: var(--profile-icon-background);
	/* background: var(--primary-gradient); */
}

div.friendPreview .image svg {
	padding: 0.5rem;
	color: var(--profile-icon-color);
}

div.friendPreview h1 {
	margin: 0;
	font-size: 1rem;
	margin-bottom: 3px;
}

div.friendPreview p {
	margin: 0;
	font-size: 0.9rem;
	color: var(--secondary-dark-text-color);
}

div.friendPreview .link {
	display: flex;
	align-items: center;
	color: var(--primary-highlight-color);
	margin-left: auto;
}

div.friendPreview .link svg {
	width: var(--icon-size);
	height: var(--icon-size);
	color: inherit;
}
