.Search {
	display: flex;
	width: 100%;
	padding-bottom: 20px;
}

.searchBar {
	width: 50%;
	background-color: var(--white-bg-color);
	border-radius: var(--rounded-sm);
	padding: 0.25rem;
	border: 2px var(--primary-highlight-color) solid;
	font-size: 14pt;
	margin-right: 0.5rem;
	transition: transform var(--ease-animation);
}

.searchBar:hover {
	transform: var(--scale-transform);
}

.searchButton {
	padding: 0.5rem 0.75rem;
	border-radius: var(--rounded-pill);
	background-color: var(--dark-bg-color);
	color: white;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	transition: transform var(--ease-animation);
}

.searchButton:hover {
	transform: var(--scale-transform);
}
