div.layout {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

div.layout a {
	display: flex;
	align-items: center;
	color: inherit;
	text-decoration: inherit;
}

nav {
	position: relative;
	height: 100vh;
	width: var(--navbar-width);
	flex-shrink: 0;
	font-weight: 500;
	font-size: 1.1rem;
}

nav>div {
	position: fixed;
	height: inherit;
	width: inherit;
	padding: var(--outer-sidebar-padding);
	background-color: var(--white-bg-color);
	box-shadow: var(--shadow-md);
}

nav a {
	margin: 0.5rem 0;
	padding: 0.65rem var(--inner-sidebar-padding);
	border-radius: var(--rounded-sm);
}

nav ul li:first-child a {
	margin-top: 0;
}

nav a.active {
	color: var(--primary-highlight-color);
	border-left: 4px solid var(--primary-highlight-color);
}

nav a:hover {
	background-color: var(--primary-highlight-bg-color);
}

nav a svg {
	width: var(--icon-size);
	height: var(--icon-size);
	margin-right: 0.5rem;
}

nav div.groupContainer {
	padding-top: 1rem;
}

nav div.groupContainer .subtleHeading {
	margin: var(--inner-sidebar-padding);
}

nav div.groupContainer a {
	margin: 0.75rem var(--inner-sidebar-padding);
}

main {
	width: 100%;
	max-width: 767px;
	padding: var(--outer-sidebar-padding);
	margin-right: calc(-1 * (100vw - 100%));
}

aside {
	position: relative;
	flex-shrink: 0;
	width: var(--sidebar-width);
}

aside>div {
	position: fixed;
	width: inherit;
	padding: var(--outer-sidebar-padding);
}

@media only screen and (max-width: 1024px) {
	nav {
		width: calc(var(--navbar-width)*0.8);
	}
	
	aside {
		width: calc(var(--sidebar-width)*0.85);
	}
}

@media only screen and (max-width: 768px) {
	div.layout {
		flex-direction: column;
	}

	nav {
		width: 100%;
	}

	nav>div {
		position: static;
	}

	main {
		margin-right: 0;
	}

	aside {
		width: 100%;
	}

	aside>div {
		position: static;
	}
}
