.Login .header {
	padding: 3rem 0;
	text-align: center;
}

.Login .header h1 {
	margin: 0;
	font-size: 1.75rem;
}

.Login .mainContainer > div {
	margin-bottom: 0.75rem;
}

.Login textarea {
	resize: none;
}

.Login label {
	display: block;
	height: fit-content;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.Login input,
.Login textarea {
	width: 100%;
	border-radius: var(--rounded-sm);
	border: 2px solid var(--secondary-bg-accent-color);
	padding: 0.5rem;
	font-size: 1.15rem;
	resize: none;
}

.Login a {
	text-decoration: none !important;
	text-decoration-color: unset;
}

.Login button,
.Login input.button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	margin: 0.25rem 0;
	padding: 0.75rem 1rem;
	background: var(--button-bg-color);
	color: var(--button-color);
	border-radius: var(--rounded-pill);
	font-weight: 500;
	transition: transform var(--ease-animation);
}

.Login input.button {
	box-sizing: border-box;
	justify-content: center;
	width: 100%;
}

.Login button:hover, .Login input.button:hover {
	transform: var(--scale-transform);
}

.Login .flexContainer {
	display: flex;
	height: 60vh;
	align-items: center;
	justify-content: center;
}

.Login .mainContainer {
	width: 100%;
	max-width: 350px;
}

.Login .invalidMessageContainer {
	color: red;
}

/*
.Login .header h2 {
	color: var(--secondary-dark-text-color);
	font-weight: 500;
	font-size: 1.15rem;
}

.Login input,
.Login button {
	border-radius: var(--rounded);
}

.Login .link {
  text-decoration: none;
}

.loginTitleContainer {
  background-color: #8b5cf6;
  height: 100px;
  width: 100%;
  text-align: center;
  display: table;
  padding-top: 0;
}

.loginTitleContainer h1 {
  font-family: "Helvetica";
  font-size: 45px;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.Login .button {
  position: relative;
  width: 49%;
  top: 25%;
  left: 25%;
  background-color: #8b5cf6;
  color: white;
  font-size: 16pt;
  font-family: "Helvetica";
}

.Login h3 {
  position: relative;
  left: 25%;
  font-family: "Helvetica";
}

.Login .text {
  position: relative;
  width: 50%;
  top: 25%;
  left: 25%;
  background-color: white;
  border: 1px #8b5cf6 solid;
  font-size: 16pt;
  font-family: "Helvetica";
}

.Login .text:hover {
  border: 3px #8b5cf6 solid;
}

.Login .button:hover {
  border: 3px #8b5cf6 solid;
}

.Login .usernameContainer {
  position: absolute;
  top: 30%;
  width: 100%;
}

.Login .passwordContainer {
  position: absolute;
  top: 45%;
  width: 100%;
}

.Login .invalidMessageContainer {
  position: absolute;
  top: 57%;
  width: 100%;
}

.Login .submitContainer {
  position: absolute;
  top: 65%;
  width: 100%;
}

.Login .buttonContainer {
  position: absolute;
  top: 70%;
  width: 100%;
}
*/